@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interactive-element {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: 'Festive', cursive;
    transform: translateX(-50%) translateY(-50%);
    background: #ff2c4f;
    color: #fff;
    height: 20vmin;
    width: 40vmin;
    font-size: 10vmin;
    text-align: center;
    line-height: 20vmin;
    border-radius: 50%;
    cursor: pointer;
    transition: background .2s linear;
}

.interactive-element:hover {
    background-color: #000;
}

.interactive-element:hover + .woman path {
    opacity: 1;
}


.woman {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    height: 100vmin;
    width: 100vmin;
    pointer-events: none;
    z-index: -1;
}

.woman path {
    opacity: 0;
}

path {
    transition: .2s linear;
}

path:nth-of-type(4n-1) {
    transition-delay: .3s;
}

path:nth-of-type(4n-2) {
    transition-delay: .2s;
}

path:nth-of-type(4n-3) {
    transition-delay: .1s;
}
